nav{
	font-family: 'Dosis', sans-serif;
}

body{
	font-family: 'Dosis', sans-serif;
}
.tenDay{
	border: solid #228A37 2px;
	width: 99.75%;
}
.day1_container{
	font-size: 20px;
	border-left: solid #228A37 2px;
	border-right: solid #228A37 2px;
	border-bottom: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day2_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day3_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day4_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day5_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day6_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day7_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day8_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day9_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.day10_container{
	font-size: 20px;
	border: solid #228A37 2px;
	width: 99.75%;
	padding: 10px;
}
.currentWeather{
	position: relative;
	font-size: 20px;
	width: 15%;
	left: .2%;
	margin-bottom: 20px;
	padding: 10px;
}
.dropdown-button{
	position: absolute;
	font-size: 40px;
	right: 7.5%;
}
#title{
	font-size: 40px;
}
h2{
	text-shadow: 4px 4px #BCBFBF;
}
p{
	font-size: 20px;
}
.forecast{
	position: absolute;
	font-size: 30px;
	width: 20%;
	top: 41%;
	right: 1%;
}
.radarImg{
	position: inherit;
	box-shadow: 10px 10px 5px #888888;
}
.radar{
	position: absolute;
	top: 8%;
	right: 19%;
}

.twitterContainer{
	position: relative;
	width: 15%;
	left: .2%;
}
#home{
	position: absolute;
	width: 50%;
	left: 23%;
	top: 10%;
}
#info{
	position: absolute;
	width: 40%;
	left: 27.5%;
	bottom: 25%;
}
#kirkMap{
	position: absolute;
	top: 62%;
	right: 36%;
}
#squawMap{
	position: absolute;
	top: 90%;
	right: 36%;
}
#heavenlyMap{
	position: absolute;
	top: 88%;
	right: 36%;
}
#trailMap1{
	position: absolute;
	width: 50%;
	left: 23%;
	top: 10%;
}
#trailMap2{
	position: absolute;
	width: 50%;
	left: 23%;
	top: 10%;
}
#trailMap3{
	position: absolute;
	width: 50%;
	left: 23%;
	top: 10%;
}
