nav{
	font-family: 'Dosis', sans-serif;
	font-size: 50px;
}
body{
	font-family: 'Dosis', sans-serif;
}

.dropdown-button{
	position: static;
	font-size: 30px;
	right: 210px;
}
.forecast{
	font-size: 30px;
	position: absolute;
	top: 400px;
	right: 10px;
	border: solid #54CDE8 5px;
	padding: 10px;
}
.day1_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day2_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day3_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day4_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day5_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day6_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day7_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day8_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day9_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.day10_container{
	font-size: 20px;
	border: solid #228A37 2px;
	padding: 10px;
}
.currentWeather{
	font-size: 20px;
	width: 15%;
	position: relative;
	left: 5px;
	border: solid #54CDE8 2px;
	padding: 10px;
}
.radar{
	position: absolute;
	top: 100px;
	right: 10px;
}
